<?xml version="1.0"?>

<model>
  <name>Wall for conveyor belt</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Olivier Verhaegen</name>
    <email>olivier.verhaegen@student.ap.be</email>
  </author>

  <description>
    A wall to place in front of the conveyor belt so it can be detected by the lidar.
  </description>

</model>